*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

section{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

.save{
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    opacity: 0;
}

.show-save{
    opacity: 1;
}

.overflow{
    font-size: 40px;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand{
    font-size: 2rem;
}

/* .nav-theme{
    width: 139px;
} */

.theme-group>div{
    display: flex;
    justify-content: space-around;
    width: 71px;
    margin: 0 0 0 auto;
}

.theme{
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;

}
.theme.text{
    font-size: 12px;
}
.text.theme-title{
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 24px;
}
.theme-scroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.theme-overlay{
    width: 71px;
    height: 26px;
    border-radius: 13px;
    position: relative;
}

.bubble{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;

}

/* BODY */
.calc-screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 14.22vh;
    margin: 32px 0 24px 0;
    padding: 0 30px;
    position: relative;
    
}
/* .screen-input{
    display: inline-block;
    padding-left: 30px;
} */
#overflow{
    font-size: 40px;
}
.sign{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}
.calc-screen .text{
    font-size: 56px;
}
.calc-buttons{
    display: grid;
    grid-template-rows: auto auto;
    gap: 2.78vh;
    border-radius: 10px;
    padding: 32px 30px;
}
.calc-buttons .text{
    font-size: 4.44vh;
    /* font-size: 56px; */
}
.input-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.78vh;
}
.btn{
    border-radius: 5px;
    height: 7.11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn .text{
    display: inline-block;
    padding: 10px;
}

.operation-buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.78vh;
}


/* TEHEME */

.theme-1{
    background-color: #3A4663;
    transition: all .5s
}
.theme-1 .sign{
    color: #F96B5B;
}
.theme-1 .save{
    color: #D03F2F;
}
.theme-1 .text{
    color: #ffffff;
}

.theme-1 .calc-buttons .text{
    color: #434A59;
}
.theme-1 .theme-overlay,
.theme-1 .calc-buttons{
    background-color: #242D44;
}
.theme-1 .bubble{
    left: 5px;
    background-color: #D03F2F;
    transition: all .3s;
}

.theme-1 .bubble:hover{
    background-color: #F96B5B;
}
.theme-1 .calc-screen{
    background-color: #181F33;
}

.theme-1 .num-btn{
    border-bottom: 4px solid #B3A497;
    background-color: #EAE3DC;
}
.theme-1 .num-btn:hover{
    background-color: #ffffff;
}

.theme-1 .reset-del-btn{
    color: #ffffff;
    border-bottom: 4px solid #414E73;
    background-color: #647198;
}
.theme-1 .reset-del-btn:hover{
    color: #ffffff;
    background-color: #A2B2E1;
}
.theme-1 .solve-btn{
    color: #ffffff;
    border-bottom: 4px solid #93261A;
    background-color: #D03F2F;
}
.theme-1 .solve-btn:hover{
    background-color: #F96B5B;
}

/* Light */

.theme-2{
    background-color: #E6E6E6;
    transition: all .5s
}
.theme-2 .sign{
    color: #FF8A38;
}
.theme-2 .save{
    color: #C85402;
}
.theme-2 .text{
    color: #36362C;
}


.theme-2 .theme-overlay,
.theme-2 .calc-buttons{
    background-color: #D2CDCD;
}
.theme-2 .bubble{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #C85402;
    transition: all .3s;
}

.theme-2 .bubble:hover{
    background-color: #FF8A38;
}
.theme-2 .calc-screen{
    background-color: #EEEEEE;
}

.theme-2 .num-btn{
    border-bottom: 4px solid #A79E91;
    background-color: #E5E4E1;
}
.theme-2 .num-btn:hover{
    background-color: #ffffff;
}

.theme-2 .reset-del-btn{
    color: #ffffff;
    border-bottom: 4px solid #1B6066;
    background-color: #378187;
}
.theme-2 .reset-del-btn:hover{
    color: #ffffff;
    background-color: #62B5BC;
}
.theme-2 .solve-btn{
    color: #ffffff;
    border-bottom: 4px solid #873901;
    background-color: #C85402;
}
.theme-2 .solve-btn:hover{
    background-color: #FF8A38;
}

/* VIOLET */
.theme-3{
    background-color: #17062A;
    transition: all .5s
}
.theme-3 .sign{
    color: #93FFF8;
}
.theme-3 .save{
    color: #00DED0;
}
.theme-3 .text{
    color: #FFE53D;
}


.theme-3 .theme-overlay,
.theme-3 .calc-buttons{
    background-color: #1E0936;
}
.theme-3 .bubble{
    left: 50px;
    background-color: #00DED0;
    transition: all .3s;
}

.theme-3 .bubble:hover{
    background-color: #93FFF8;
}
.theme-3 .calc-screen{
    background-color: #1E0936;
}

.theme-3 .num-btn{
    border-bottom: 4px solid #881C9E;
    background-color: #331C4D;
}
.theme-3 .num-btn:hover{
    background-color: #6C34AC;
}

.theme-3 .reset-del-btn{
    color: #ffffff;
    border-bottom: 4px solid #BE15F4;
    background-color: #56077C;
}
.theme-3 .reset-del-btn:hover{
    color: #ffffff;
    background-color: #6C34AC;
}
.theme-3 .solve-btn{
    color: #ffffff;
    border-bottom: 4px solid #6CF9F0;
    background-color: #00DED0;
}
.theme-3 .solve-btn:hover{
    background-color: #93FFF8;
}

/* Media Query */

@media screen and (max-width: 375px){
    .operation-buttons,
    .input-buttons,
    .calc-buttons{
        gap:.9vh
    }
    .calc-screen .text{
        font-size: 40px;
    }
    #overflow{
        font-size: 30px;
    }
    .calc-buttons{
        padding: 24px;
    }
    .sign{
        font-size: 20px;
    }
    .calc-buttons .text{
        font-size: 5vh;
        /* font-size: 56px; */
    }
    .screen-input{
        display: block;
        text-align: right;
    }
    #overflow.screen-input{
        width: 100%;
        text-align: left;
        overflow-x: auto;
    }
}

@media screen and (max-width:275px){
    .calc-buttons{
        padding: 16px;
    }
    .calc-screen{
        padding: 0 16px;
    }
    .text.theme-title{
        margin-right: 16px;
    }
    .nav-brand{
        font-size: 24px;
    }
}